{% extends modal is defined ? '::modal.html.twig': '::general.html.twig' %}

{% block body %}
    <table class="table table-responsive" style="width: 80%; margin: auto;">
        <thead>
        <tr>
            <td colspan="3"><h4>Infos générales</h4></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="8"><img src="https://image.tmdb.org/t/p/w185/{{ movie.posterUrl }}" alt=""/></td>
            <th>Titre original</th>
            <td>{{ movie.originalTitle }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ movie.title }}</td>
        </tr>
        <tr>
            <th>Directeur</th>
            <td>{{ movie.director.name }}</td>
        </tr>
        <tr>
            <th>Date de sortie</th>
            <td>{{ movie.releaseDate|date("d/m/Y") }}</td>
        </tr>
        <tr>
            <th>Synopsis</th>
            <td>{{ movie.synopsis }}</td>
        </tr>
        <tr>
            <th>Durée</th>
            <td>{{ movie.runtime }} minutes</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ movie.rating }}/10 ({{ movie.ratingNumber }} votes)</td>
        </tr>
        <tr>
            <th>Genre(s)</th>
            <td>
                {% for genre in movie.genres %}
                    {{ genre.type }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <br/>

    {% if movie.frVideos|length > 0 %}
        <div>VF</div>
        {{ include('MoviesBundle:Default:videoDisplay.html.twig', {'videos': movie.frVideos}) }}
    {% endif %}
    {% if movie.enVideos|length > 0 %}
        <div>VO</div>
        {{ include('MoviesBundle:Default:videoDisplay.html.twig', {'videos': movie.enVideos}) }}
    {% endif %}

    <div style="width: 80%; margin: auto;">
        <span style="display: inline-block; vertical-align: top; width: 100%;">
            <table class="table">
                <thead>
                <tr>
                    <td colspan="4"><h4>Cast</h4></td>
                </tr>
                </thead>
                <tbody>
                {% for cast in movie.cast %}
                    {% if loop.index is not divisible by(2) %}
                        <tr style="height: 55px;">
                    {% endif %}
                            <td><img src="https://image.tmdb.org/t/p/w185/{{ cast.person.pictureUrl }}" alt="" width="25"/></td>
                            <td>
                                {{ cast.person.name }} <b>as</b> {{ cast.role }}
                            </td>
                    {% if loop.index is divisible by(2) or loop.last %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </span>
    </div>
{% endblock %}