{% extends '::general.html.twig' %}

{% block body %}
    <div style="width: 75%; margin: auto;">
        <div id="filters" class="button-group">
            <button class="btn btn-xs btn-info" data-filter="*">{% trans %}Tout{% endtrans %}</button>
            {% for genre in genres %}
                <button class="btn btn-xs btn-info" data-filter=".{{ genre.type }}">{{ genre.type }}</button>
            {% endfor %}
        </div>
        <div id="sorts" class="button-group">
            <button class="btn btn-xs btn-info" data-sort-by="original-order">{% trans %}Ordre de base{% endtrans %}</button>
            <button class="btn btn-xs btn-info" data-sort-by="title">{% trans %}Titre{% endtrans %}</button>
            <button class="btn btn-xs btn-info" data-sort-by="rating">{% trans %}Note{% endtrans %}</button>
            <button class="btn btn-xs btn-info" data-sort-by="date">{% trans %}Date de sortie{% endtrans %}</button>
        </div>

        <div id="isotop-movies-container">
            {% for movie in movies %}
                <div class="item {% for genre in movie.genres %}{{ genre.type }}{% if not loop.last %} {% endif %}{% endfor %}">
                    <p class="title no-display">{{ movie.title }}</p>
                    <p class="rating no-display">{{ movie.rating }}</p>
                    <p class="date no-display">{{ movie.releaseDate|date("Y-m-d") }}</p>
                    <a id="modalButton{{ movie.code }}" href="#" data-target="#modalFor{{ movie.code }}">
                        {% if movie.posterUrl is not null %}
                            <img src="https://image.tmdb.org/t/p/w185/{{ movie.posterUrl }}" alt=""/>
                        {% else %}
                            <img src="http://dummyimage.com/185x278/000/fff.png&text={{ movie.title }}" alt=""/>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


    {% for movie in movies %}
        <!-- Modal -->
        <div class="modal fade" id="modalFor{{ movie.code }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ movie.titleInLibrary }}</h4>
                    </div>
                    <div class="modal-body" id="modalBody{{ movie.code }}"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Fermer{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <script type="text/javascript">
        $(document).ready(function () {
            $().waitingpopup();

            // init Isotope
            var $container = $('#isotop-movies-container').isotope({
                getSortData: {
                    title: '.title',
                    rating: '.rating',
                    date: '.date'
                }
            });
            // filter items on button click
            $('#filters').on( 'click', 'button', function() {
                var filterValue = $(this).attr('data-filter');
                $container.isotope({ filter: filterValue });
            });
            $('#sorts').on( 'click', 'button', function() {
                var sortByValue = $(this).attr('data-sort-by');
                $container.isotope({ sortBy: sortByValue });
            });

            {% for movie in movies %}
                $('#modalButton{{ movie.code }}').click(function(){
                    if ($('#modalBody{{ movie.code }}').html() == "") {
                        $().waitingpopup("open");
                        $.ajax({
                            url: "{{ path('_infoonmovie', { 'movie': movie.title, 'modal': true }) }}"
                        }).done(function(data ) {
                            $('#modalBody{{ movie.code }}').html(data );
                            $('#modalFor{{ movie.code }}').modal('show');
                        }).always(function(){
                            $().waitingpopup("close");
                        });
                    } else {
                        $('#modalFor{{ movie.code }}').modal('show');
                    }
                });
            {% endfor %}
        });
    </script>
{% endblock %}