{% extends '::general.html.twig' %}

{% block body %}
    <div style="width: 75%; margin: auto;">
        <div id="filters" class="button-group">
            <button class="btn btn-xs btn-info" data-filter="*">Tout</button>
            {% for genre in genres %}
                <button class="btn btn-xs btn-info" data-filter=".{{ genre.type }}">{{ genre.type }}</button>
            {% endfor %}
        </div>
        <div id="sorts" class="button-group">
            <button class="btn btn-xs btn-info" data-sort-by="original-order">original order</button>
            <button class="btn btn-xs btn-info" data-sort-by="title">Titre</button>
            <button class="btn btn-xs btn-info" data-sort-by="rating">Note</button>
        </div>

        <div id="isotop-movies-container">
            {% for movie in movies %}
                <div class="item {% for genre in movie.genres %}{{ genre.type }}{% if not loop.last %} {% endif %}{% endfor %}">
                    <p class="title no-display">{{ movie.title }}</p>
                    <p class="rating no-display">{{ movie.rating }}</p>
                    <a id="modalButton{{ movie.code }}" href="#" data-toggle="modal" data-target="#modalFor{{ movie.code }}"><img src="https://image.tmdb.org/t/p/w185/{{ movie.posterUrl }}" alt=""/></a>
                </div>
            {% endfor %}
        </div>
    </div>


    {% for movie in movies %}
        <!-- Modal -->
        <div class="modal fade" id="modalFor{{ movie.code }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ movie.title }}</h4>
                    </div>
                    <div class="modal-body">
                        {#{{ include('MoviesBundle:Default:infoonmovie.html.twig', {'movie': movie, 'modal': true}) }}#}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <script type="text/javascript">
        // init Isotope
        var $container = $('#isotop-movies-container').isotope({
            getSortData: {
                title: '.title',
                rating: '.rating'
            }
        });
        // filter items on button click
        $('#filters').on( 'click', 'button', function() {
            var filterValue = $(this).attr('data-filter');
            $container.isotope({ filter: filterValue });
        });
        $('#sorts').on( 'click', 'button', function() {
            var sortByValue = $(this).attr('data-sort-by');
            $container.isotope({ sortBy: sortByValue });
        });

        {% for movie in movies %}
            $('#modalButton{{ movie.code }}').clik(function(){

            });
        {% endfor %}
    </script>
{% endblock %}